.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    font-size: 1.5rem;
}

.movies-list {
    width: 800px;
    margin: 14px auto;
}

.movies-list article {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
}

.movies-list img {
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

.movies-list strong {
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.movies-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #116feb;
    text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.container-week {
    position: relative;
    z-index: 1;
}

.week-poster {
    max-width: 100%;
    object-fit: cover;
}

.week-title {
    color: #fff;
    position: absolute;
    top: 40%;
    font-size: 4rem;
    left: 2%;
}

.week-vote {
    color: #fff;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    left: 2%;
    font-weight: 500;
}

.week-desc {
    color: #fff;
    position: absolute;
    top: 55%;
    font-size: 1rem;
    left: 2%;
    font-weight: 400;
    width: 30%;
}

.week-trailer, .week-details {
    color: #fff;
    position: absolute;
    top: 65%;
    font-size: 1.3rem;
    left: 2%;
    font-weight: 600;
    text-decoration: none;
    background-color: #d62828;
    border-radius: 8px;
    padding: 0.7rem;
}

.week-details {
    left: 10%;
    background-color: #adb5bd;
}